/* Curious Facts Page Styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
.container-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--peach);
    width: 20rem;
    min-height: 37.5rem;
    border-radius: 45px;
    margin: 2rem;
    padding-bottom: 2rem;
}

/*Styles for the go back button*/
.back-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--green);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    max-height: 3.5rem;
    margin: 2rem 13rem 3rem 0;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    filter: brightness(80%);
  }

.back-btn img {
    width: 4rem;
    height: 2rem;
    padding: 0.75rem 0;
    justify-content: center;
}

.back-btn h3 {
    display: none;
}

/*Styles for the curious facts boxes*/
.text-box-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--medium-green);
    border-radius: 35px;
    margin: 0 1.5rem 3rem 1.5rem;
    padding: 1rem 2rem;
}

.text-box-facts p {
    text-align: center;
    max-width: 14rem;
    word-wrap: break-word;
}

.new-fact-btn img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.25rem;
}

.new-fact-btn {
    display: flex;
    align-items: center;
    text-align: center; 
    background-color: var(--dark-green);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 0 3rem;
    max-height: 3.5rem;
    margin: 1rem 0 1rem 0;
    transition: background-color 0.3s ease;
}

.new-fact-btn:hover {
    filter: brightness(120%);
  }

.favorites-btn img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.favorites-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--orange);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 0 2.5rem;
    max-height: 3.5rem;
    transition: background-color 0.3s ease;
}

.favorites-btn:hover {
    filter: brightness(110%);
  }

/*Desktop style responsive*/
@media only screen and (min-width: 1000px) {
  
     a.back-btn {
        margin: 2rem 52rem 4rem 0;
    }
    
    .container-facts {
        min-width: 65rem;
        min-height: 38rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    
    .text-box-facts {
        min-width: 52rem;
        min-height: 15rem;
    }

    .text-box-facts p {
        text-align: left;
        min-width: 47rem;
        max-width: 50rem;
        padding: 1.5rem;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5.5rem;
        min-width: 47rem;
        padding: 0.5rem;
    }
}