/* Estilos de curiousfacts */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
.container-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--peach);
    width: 20rem;
    height: 40rem;
    border-radius: 45px;
    margin: 2rem;
    padding-bottom: 2rem;
}

.back-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--green);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    max-height: 3.5rem;
    margin: 2rem 13rem 1rem 0; */
    margin-right: 13rem;
}

.back-btn img {
    width: 4rem;
    height: 2rem;
    padding: 0.75rem 0;
    justify-content: center;
}

.back-btn h3 {
    display: none;
    /* align-items: flex-end; */
}

.text-box-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--medium-green);
    border-radius: 35px;
    margin: 2rem 1.5rem;
    padding: 1rem;
}

.text-box-facts p {
    text-align: left;
    max-width: 16rem;
}

.new-fact-btn img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.25rem;
}

.new-fact-btn {
    display: flex;
    align-items: center;
    text-align: center; 
    background-color: var(--dark-green);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 0 3rem;
    max-height: 3.5rem;
    margin: 1rem 0 1rem 0;
}


.favorites-btn img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.favorites-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--orange);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    padding: 0 2.5rem;
    max-height: 3.5rem;
}

/*desktop style responsive*/