/* Estilos de curiousfacts */

/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

.text-box-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--medium-green);
    border-radius: 35px;
    margin: 0.75rem 1.5rem 0.75rem 1.5rem;
    padding: 1rem;
    max-width: 15rem;
}

.text-box-facts p {
    text-align: left;
    max-width: 14rem;
    margin: 0;
}



/* Estilo para el botón de eliminar */
button.delete-btn {
    background-color: var(--orange);
    color: #fff; 
    border: none; 
    padding: 8px 12px; 
    border-radius: 55px; 
    cursor: pointer; 
}

button.delete-btn:hover {
    background-color: var(--yellow); 
}

*/

/*desktop style responsive*/