/*mobile style*/
footer {
    display: flex;
    background-color: var(--green);
    height: 4rem; 
    width: 100%;
    justify-content: center;
    
}

footer h3 {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}



/*desktop style responsive*/

@media only screen and (min-width: 1000px) {  

    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
      }  

    footer h3 {
        font-size: 1.5rem;
    }

}


