/*mobile style*/
footer {
    display: flex;
    flex-direction: row;
    background-color: var(--green);
    height: 4rem; 
    width: 100%;
    justify-content: center;
}

footer h3 {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    
}


/*desktop style responsive*/

/*desktop style responsive*/